@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutQLBDT";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<codeBTL.Models.ViewModels.SanPhamViewModel>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    .item-img-info {
        width: 270px;
        height: 290px;
    }

    #product-collection-image-446 {
        width: 270px;
        height: 290px;
    }

    .home-block-inner {
        margin-bottom: 40px;
    }

    form {
        display: flex;
        justify-content: space-around;
    }

        form input {
            margin-right: 30px;
        }
</style>

<!-- content ở đây -->
<!-- begin banner -->
@await Html.PartialAsync("_PartialBanner")
<!-- end banner -->
<!-- danh sách điện thoại -->

<div class="row mt-4">
    <div class="col-md-3 mt-5">
        <div class="home-block-inner">
            <div class="block-title">
                <h2>Bán chạy nhất</h2>
            </div>
            <!--block-title-->
            <img src="~/assets/images/products/hot-trends-banner.jpg" alt="banner">
            <div style="text-align:center">
                <button class="btn-top-products">hiện tất cả</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="bottom_header-left">
            <form id="search-form">
                <input type="search" class="form-control" placeholder="Tìm kiếm..." id="searchProducts">
                <button type="button" class="btn btn-primary btn-filter-products">Tìm kiếm</button>
            </form>
            <script>

                    $(".btn-filter-products").on("click", function (event) {
                        var searchText = $("#searchProducts").val();
                        event.preventDefault(); // ngăn chặn trang bị load lại
                        $.ajax({
                            url: "@Url.Action("SearchProducts", "Home")", // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
                            type: 'GET', // Phương thức HTTP để lấy dữ liệu
                            data: { searchString: searchText }, // Các tham số để truyền cho hành động lấy dữ liệu
                            success: function (result) {
                                console.log(result);
                                $('#products-filter').html(result); // Cập nhật nội dung của bảng dữ liệu trong trang web
                                $('#default-products').hide();
                                $("#top-products").hide();
                                if ($('#products-filter').is(":hidden")) {
                                    $('#products-filter').show();
                                }
                            }
                        });
                    })

                $(".btn-top-products").on("click", function (event) {
                    event.preventDefault(); // ngăn chặn trang bị load lại
                    $.ajax({
                        url: "@Url.Action("GetTop9Products", "Home")",
                        type: "GET",
                        success: function (result) {
                            $("#top-products").html(result);
                            $('#products-filter').hide();
                            $('#default-products').hide();
                            if ($('#top-products').is(":hidden")) {
                                $('#top-products').show();
                            }
                        }
                    });
                })

                function handleOrder() {
                    alert("sdf")
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Bạn đã mua đơn hàng thành công',
                        icon: 'success',
                    })
                }
            </script>
        </div>
        <div class="row">
            <ul class="products-grid first last odd col-12" id="default-products">
                @foreach (var item in Model)
                {
                    <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a asp-action="SmartphoneDetails" asp-controller="home" asp-route-MaSp="@item.MaSp"
                                       class="product-image">
                                        <img id="product-collection-image-446"
                                             class="img-responsive"
                                             src="@Url.Content("../assets/images/products/"+item.AnhDaiDien)"  />
                                    </a>
                                    <div class="box-hover">
                                        <ul class="add-to-links">
                                            <li>
                                                <a rel="nofollow"
                                                   href="#"
                                                   data-fancybox-type="iframe"
                                                   class="magik-btn-quickview link-quickview">Quick View</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="link-wishlist"
                                                   title="Add to Wishlist">Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="link-compare"
                                                   title="Add to Compare">Compare</a>
                                            </li>
                                        </ul>
                                        <!--add-to-links-->
                                    </div>
                                    <!--box-hover-->
                                </div>
                                <!--item-img-info-->
                            </div>
                            <!--item-img-->
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title">
                                        <a asp-action="SmartphoneDetails" asp-controller="home" asp-route-MaSp="@item.MaSp">@item.TenSp</a>
                                    </div>
                                    <!--item-title-->
                                    <div class="item-content">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width: 0%"
                                                     class="rating"></div>
                                            </div>
                                        </div>
                                        <div class="item-Giá">
                                            <div class="Giá-box">
                                                <span class="regular-Giá">
                                                    <span class="Giá">@item.DonGiaBan</span>
                                                </span>
                                            </div>
                                        </div>
                                        <!--item-Giá-->
                                        <div class="action">
                                            <a asp-controller="Home" asp-action="CreateOrder" asp-route-MaSp="@item.MaSp" onclick="handleOrder" class="button btn-cart">
                                                <span>Đặt hàng</span>
                                            </a>
                                        </div>
                                        <!--action-->
                                    </div>
                                    <!--item-content-->
                                </div>
                                <!--info-inner-->
                            </div>
                            <!--item-info-->
                        </div>
                        <!--item-inner-->
                    </li>
                }
                <div class="product__pagination col-12">
                    @Html.PagedListPager(Model,page => Url.Action("Index","Home", new {page=page}))
                </div>
            </ul>
        </div>
        <div id="top-products">
            <!-- Đây là nơi để hiển thị danh sách sản phẩm -->
        </div>
        <div id="products-filter">
            <!-- Đây là nơi để hiển thị danh sách sản phẩm -->
        </div>
    </div>
</div>

