@using codeBTL.Models.ViewModels

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_LayoutQLBDT.cshtml";
}
@model OrderDetailsViewModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs
    ============================================ -->
    <title>Thông tin đơn hàng</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech" />
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" type="image/png" href="ico/" />

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet"
          href="./assets/css/bootstrap/css/bootstrap.min.css" />
    <link href="./assets/css/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" />
    <link href="./assets/js/datetimepicker/bootstrap-datetimepicker.min.css"
          rel="stylesheet" />
    <link href="./assets/js/owl-carousel/owl.carousel.css"
          rel="stylesheet" />
    <link href="./assets/css/themecss/lib.css" rel="stylesheet" />
    <link href="./assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="./assets/js/minicolors/miniColors.css" rel="stylesheet" />

    <!-- Theme CSS
    ============================================ -->
    <link href="./assets/css/themecss/so_searchpro.css" rel="stylesheet" />
    <link href="./assets/css/themecss/so_megamenu.css" rel="stylesheet" />
    <link href="./assets/css/themecss/so-categories.css" rel="stylesheet" />
    <link href="./assets/css/themecss/so-listing-tabs.css"
          rel="stylesheet" />
    <link href="./assets/css/themecss/so-newletter-popup.css"
          rel="stylesheet" />

    <link href="./assets/css/footer/footer1.css" rel="stylesheet" />
    <link href="./assets/css/header/header1.css" rel="stylesheet" />
    <link id="color_scheme" href="css/theme.css" rel="stylesheet" />
    <link href="./assets/css/responsive.css" rel="stylesheet" />

    <!-- Google web fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700"
          rel="stylesheet"
          type="text/css" />
    <style type="text/css">
        body {
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>

<body class="res layout-1 layout-subpage">
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li>
                    <a href="#"><i class="fa fa-home"></i></a>
                </li>
                <li><a href="#">Thông tin đơn hàng</a></li>
            </ul>

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-md-12">
                    <h2 class="title">Thông tin đơn hàng</h2>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td colspan="2" class="text-left">
                                    Chi tiết đơn hàng
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 50%" class="text-left">
                                    <b>Mã đơn hàng:</b> @Model.MaDh
                                    <br />
                                    <b>Ngày đặt:</b>  @Model.NgayDat
                                </td>
                                <td style="width: 50%" class="text-left">
                                    <b>Phương thức thanh toán:</b> Thanh
                                    toán khi nhận hàng
                                    <br />
                                    <b>Phương thức giao hàng:</b> Giao hàng
                                    nhanh
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <td style=" vertical-align: top"
                                    class="text-left">
                                    Địa chỉ giao hàng
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">
                                    Username: @Model.Username <br />Address: @Model.DiaChiUser
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td class="text-left">Tên sản phẩm</td>
                                    <td class="text-right">Số lượng</td>
                                    <td class="text-right">Giá</td>
                                    <td class="text-right">Tổng tiền</td>
                                    <td style="width: 20px"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">
                                        @Model.TenSp
                                    </td>
                                    <td class="text-right option-sldat">
                                        <select onchange="handleSelectValue(this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                    <td class="text-right">
                                        <span class="regular-Giá" style="color: #d70018; font-weight:700; font-size:16px">
                                            @{
                                                //ĐỔI ĐỊNH DẠNG CỦA ĐƠN GIÁ BÁN
                                                string formattedPrice = string.Format("{0:N0} ₫", @Model.DonGiaBan);
                                            }
                                            @formattedPrice
                                        </span>
                                    </td>
                                    <td class="text-right" id="totalAmount">
                                        <span class="regular-Giá" style="color: #d70018; font-weight:700; font-size:16px">
                                            @{
                                                //ĐỔI ĐỊNH DẠNG CỦA ĐƠN GIÁ BÁN
                                                string formattedPrice1 = string.Format("{0:N0} ₫", @Model.TongTien);
                                            }
                                            @formattedPrice1
                                        </span>
                                    </td>
                                    <td style="white-space: nowrap"
                                        class="text-right">
                                        <a class="btn btn-primary"
                                           title=""
                                           data-toggle="tooltip"
                                           id="resetBtn"
                                           onclick="resetOrder('@Model.MaDh', '@Model.MaSp')"
                                           data-original-title="Đặt lại">
                                            Đặt lại
                                        </a>


                                        <a class="btn btn-danger"
                                           title=""
                                           data-toggle="tooltip"
                                           asp-controller="home"
                                           asp-action="index"
                                           data-original-title="Trở về">
                                            <i class="fa fa-reply"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Middle Part End-->
            </div>
        </div>
        <!-- //Main Container -->
    </div>

    @*show toast*@
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                icon: '@TempData["MessageType"]',
                title: '@TempData["Message"]'
            });
        </script>
    }
    <script>



        var slDat = 1
        function handleSelectValue(value) {
            slDat = value;
            var totalAmount = value * @Model.DonGiaBan;

            var formattedPrice = (new Number(totalAmount)).toLocaleString('vi', { style: 'currency', currency: 'VND' });

            $('#totalAmount').html('<span class="regular-Giá" style="color: #d70018; font-weight: 700; font-size: 16px">' + formattedPrice + '</span>');
        }


        function resetOrder(maDh, maSp) {
            $.ajax({
                url: 'https://localhost:7206/api/HistoryOrderAPI/' + maDh + '?MaSp=' + maSp,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(slDat),
                success: function (result) {
                    // Handle success
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Bạn đã sửa đơn hàng thành công',
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/home/index'; // Chuyển hướng về trang index
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle error
                    alert(jqXHR);
                }
            });
        }
    </script>
    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript"
            src="./assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript"
            src="./assets/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="./assets/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript"
            src="./assets/js/themejs/libs.js"></script>
    <script type="text/javascript"
            src="./assets/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript"
            src="./assets/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript"
            src="./assets/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript"
            src="./assets/js/datetimepicker/moment.js"></script>
    <script type="text/javascript"
            src="./assets/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="./assets/js/jquery-ui/jquery-ui.min.js"></script>

    <!-- Theme files
    ============================================ -->

    <script type="text/javascript"
            src="./assets/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript"
            src="./assets/js/themejs/addtocart.js"></script>
    <script type="text/javascript"
            src="./assets/js/themejs/application.js"></script>
</body>
</html>


