@{
    ViewData["Title"] = "Điện thoại thông minh";
    Layout = "_LayoutQLBDT";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<codeBTL.Models.ViewModels.SanPhamViewModel>
<style>
    form {
        display: flex;
        width: 825px;
    }
    #search-btn {
        margin-left: 10px;
    }

        #suggest-box {
            display:block;
        position: absolute;
        top: 32px;
        width: 400px;
        border: 1px #ddd solid;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
        z-index: 3;
        background-color: #fff;
        }

        #suggest-box li {
            list-style: none;
            border-top: 1px #ddd solid;
        }

            #suggest-box li a {
                display: block;
                width: 100%;
                padding: 12px 16px;
                text-decoration: none;
                color: initial;
                display: flex;
            }

            #suggest-box li img {
                width: 70px;
                height: 70px;
            }

            #suggest-box li div {
                margin-left: 14px;
                height: 100%;
                padding-top: 8px;
            }

            #suggest-box li .productName {
                font-weight: 400;
                margin-bottom: 6px;
            }

            #suggest-box li .price {
                font-weight: 700;
                color: #d70018
            }
            #searchForm {
                position: relative;
                overflow: show;
            }
</style>
<!-- Begin main -->
<div id="main">
    <div class="container" style="margin-top: 40px;">
        <div class="row">

            <div class="col-sm-9 col-sm-push-3">
                <h2 class="page-heading">
                    <span class="page-heading-title">Smartphones</span>
                </h2>
                @if (ViewBag.Search != null)
                {
                    <h5 style="font-style: italic">
                        Kết quả tìm kiếm cho: @ViewBag.Search
                    </h5>
                }
                <div class="col-main">
                    <div class="bottom_header-left mb-5" style="margin-left:0">
                        <div class="" style="
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                            ">
                            <form method="post" action="@Url.Action("Smartphone", "Home")" id="searchForm" >
                                <input id="searchInput" name="searchString" type="text" class="form-control" style="height: 100%" placeholder="Bạn cần tìm gì?">
                                <div class="input-group-append">
                                    <button asp-controller="Home" asp-action="Smartphone" asp-route-pageSize="@ViewBag.psz" id="search-btn" class="btn btn-primary" type="submit">
                                        Search <i class="fas fa-search"></i>
                                    </button>
                                </div>

                                <ul id="suggest-box">
                                </ul>
                            </form>
                                <script>
                                  var form = document.getElementById("searchForm");
                                  var input = document.getElementsByName("searchString")[0];

                                  input.addEventListener("keyup", function(event) {
                                    event.preventDefault();
                                    if (event.keyCode === 13) { // Kiểm tra xem phím nhấn là phím Enter
                                      form.submit(); // Gọi hành động submit của form
                                    }
                                  });

                                    $('#suggest-box').hide();
                                        
                                    $(function () {
                                        // Khi người dùng nhập từ khóa vào thẻ input
                                        $('#searchInput').keyup(function () {
                                            // Lấy từ khóa và gửi yêu cầu AJAX để tải danh sách gợi ý sản phẩm
                                            var keyword = $(this).val();
                                            $.getJSON('/Home/GetSuggestions', { keyword: keyword }, function (data) {
                                            if(data == ""){
                                                $('#suggest-box').hide();
                                            }
                                            else {
                                            $('#suggest-box').show();
                                                // Xóa danh sách gợi ý sản phẩm cũ
                                            $('#suggest-box').empty();
                                                // Hiển thị danh sách gợi ý sản phẩm mới
                                            for (var i = 0; i < data.length; i++){
                                                    var str = "";
                                                    str+=    '<li><a href=\"/Home/SmartphoneDetails?maSp=' + $.trim(data[i].maSp) + '\">';
                                                    str += '<img src=\"../assets/images/products/' + $.trim(data[i].anhDaiDien) + '\" alt = "Anh san pham">';
                                                    str += '<div><h4 class="productName">' + data[i].tenSp + '</h4>';
                                                    str += '<span class="price">' + data[i].donGiaBan.toLocaleString() + '₫</span>';
                                                    str+= '</div></a></li>';
                                                    $('#suggest-box').append(str);
                                            };
                                            };
                                            });
                                        });
                                    });
                                    // hiện hộp gợi ý khi người dùng nhấn vào input
                                    document.getElementById("searchInput").addEventListener("focus", function () {
                                        $('#suggest-box').show();
                                    });
                                    // ẩn hộp gợi ý khi người dùng click ra ngoài input hoặc suggest box
                                    $(document).on('click', function (e) {
                                        if (!$(e.target).is('#searchInput') && !$(e.target).is('#suggest-box *')) {
                                            $('#suggest-box').hide();
                                        }
                                    });
                               </script>
                        </div>
                    </div>

                    <div class="top-toolbar">
                        <div class="toolbar">
                            <div>
                                <a> Giá thấp - cao</a>
                            </div>

                            <div class="pager">
                                <div id="limiter">
                                    <ul>
                                        <label>View: </label>
                                        <li>
                                            <a href="#">@ViewBag.psz<span class="right-arrow"></span></a>
                                            <ul>
                                                <li>
                                                    <a asp-action="Smartphone" asp-controller="Home" asp-route-pageSize="9" asp-route-searchString="@ViewBag.Search">9</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Smartphone" asp-controller="Home" asp-route-pageSize="15" asp-route-searchString="@ViewBag.Search">15</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Smartphone" asp-controller="Home" asp-route-pageSize="21" asp-route-searchString="@ViewBag.Search">21</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <!-- end pager -->
                        </div>
                    </div>
                    <!-- end top toolbar  -->
                    <!-- begin products  -->
                    <div class="category-products">
                        <ul class="row products-grid first last odd" id="products-filter">
                        </ul>
                        <ul class="row products-grid first last odd" id="default-products">
                            <div class="row">
                                @if (!Model.Any())
                                {
                                    <div class="message">
                                        <h4 style="text-align:center">Không tìm thấy sản phẩm phù hợp</h4>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a asp-controller="Home" asp-action="SmartphoneDetails" asp-route-maSp="@item.MaSp"
                                                   class="product-image">
                                                            <img id="product-collection-image-446"
                                                         class="img-responsive"
                                                         src="@Url.Content("../assets/images/products/"+item.AnhDaiDien)" />
                                                        </a>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li>
                                                                    <a rel="nofollow"
                                                               href="#"
                                                               data-fancybox-type="iframe"
                                                               class="magik-btn-quickview link-quickview">Quick View</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                               class="link-wishlist"
                                                               title="Add to Wishlist">Wishlist</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                               class="link-compare"
                                                               title="Add to Compare">Compare</a>
                                                                </li>
                                                            </ul>
                                                            <!--add-to-links-->
                                                        </div>
                                                        <!--box-hover-->
                                                    </div>
                                                    <!--item-img-info-->
                                                </div>
                                                <!--item-img-->
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title">
                                                        <a style="font-weight: 600" asp-action="SmartphoneDetails" asp-controller="Home" asp-route-maSp="@item.MaSp">@item.TenSp</a>
                                                        </div>
                                                        <!--item-title-->
                                                        <div class="item-content">
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <div style="width: 0%"
                                                                 class="rating"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-Giá">
                                                                <div class="Giá-box">
                                                                    <span class="regular-Giá">
                                                                    <span class="Giá" style="color: #d70018; font-weight:700; font-size:16px">
                                                                            @{
                                                                                //ĐỔI ĐỊNH DẠNG CỦA ĐƠN GIÁ BÁN
                                                                                string formattedPrice = string.Format("{0:N0} ₫", item.DonGiaBan);
                                                                            }
                                                                            @formattedPrice
                                                                    </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--item-Giá-->
                                                            <div class="action">
                                                                <a asp-controller="Home" asp-action="CreateOrder" asp-route-MaSp="@item.MaSp" class="button btn-cart">
                                                                    <span>Đặt hàng</span>
                                                                </a>

                                                            </div>
                                                            <!--action-->
                                                        </div>
                                                        <!--item-content-->
                                                    </div>
                                                    <!--info-inner-->
                                                </div>
                                                <!--item-info-->
                                            </div>
                                            <!--item-inner-->
                                        </li>
                                    }
                                }
                            </div>
                            <div class="row product_pagination col-12">
                                        @Html.PagedListPager(Model,page => Url.Action("Smartphone","Home", new {pageSize = ViewBag.psz, searchString = ViewBag.Search ,page=page}))
                            </div>

                        </ul>
                        
                    </div>
                    
                    <!-- end products  -->
                    <!-- begin bottom toolbar -->
                    <div class="bottom-toolbar" style="overflow: visible;">
                        <div class="toolbar">
                            <div class="pager">
                                <div id="limiter">
                                    <ul>
                                        <label>View: </label>
                                        <li>
                                            <a href="#">@ViewBag.psz<span class="right-arrow"></span></a>
                                            <ul>
                                                <li>
                                                    <a asp-action="Smartphone" asp-controller="Home" asp-route-pageSize="9">9</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Smartphone" asp-controller="Home" asp-route-pageSize="15">15</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Smartphone" asp-controller="Home" asp-route-pageSize="21">21</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end pager -->
                        </div>
                    </div>
                    <!-- end bottom tool bar  -->
                </div>
                <!-- end col main  -->
            </div>
            <!-- begin side nav  -->
            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated animated" style="visibility: visible;">
                <div class="side-nav-categories">
                    <div class="block-title">Danh mục sản phẩm</div>
                    <div class="box-content box-category">
                        <ul>
                            <li>
                                <a class="active" asp-action="Smartphone" asp-controller="Home">Smartphones</a>
                                <span class="subDropdown minus"></span>
                                <ul class="level0_2022" style="display:block">
                                    @await Component.InvokeAsync("BrandMenu")

                                </ul><!--level0-->
                            </li><!--level 0-->

                            <li class="mega-menu">
                                <a class="level-top" asp-action="PhoneAccessories" asp-controller="Home"><span>Phụ kiện</span></a>
                    </div><!--box-content box-category-->
                </div><!--side-nav-categories-->

                <div class="hot-banner"><img src="~/assets/images/products/hot-trends-banner.jpg" alt="banner"></div><div class="block block-list block-cart">
                    <div class="block-title">

                        Giỏ hàng
                    </div>
                    <div class="block-content">
                        <p class="empty">Giỏ hàng trống.</p>
                    </div>
                </div>

                <div class="block block-compare">
                    <div class="block-title">
                        So sánh sản phẩm

                    </div>
                    <div class="block-content">
                        <p class="empty">Không có sản phẩm nào để so sánh.</p>
                    </div><!--block-content-->
                </div><!--block block-list block-compare-->

                <div class="custom-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="~/assets/images/products/slide3.jpg" alt="slide3">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="product-detail.html">50% OFF</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/assets/images/products/slide1.jpg" alt="slide1">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="product-detail.html">Hot collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="item active">
                                    <img src="~/assets/images/products/slide2.jpg" alt="slide2">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="product-detail.html">Summer collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- end aside  -->
        </div>
    </div>
</div>
                            @if (!Model.Any())
                                {
                                    <script>
                                        $(".top-toolbar").hide();
                                        $(".bottom-toolbar").hide();
                                        $(".product_pagination").hide();
                                    </script>
                                }