@using codeBTL.Models.ViewModels


@{
    ViewData["Title"] = "SmartphoneDetails";
    Layout = "~/Views/Shared/_LayoutQLBDT.cshtml";
}
@model SanPhamDetailsViewModel

<!-- Begin main --><div class="main">
    <div class="container">
        <div class="row">
            <div class="col-main">
                <div class="product-view col-lg-12">
                    <form action="#" method="post" class="product-addtocart-form">
                        <div class="row">
                            <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">
                                <div class="product-image">
                                    <div class="product-full">
                                        <img itemprop="image" id="product-zoom" src="@Url.Content("~/assets/images/products/"+Model.AnhDaiDien)" alt="Iphone 14 PRM" title="Iphone 14 PRM">
                                    </div><!--product-full-->
                                    <div class="more-views">
                                        <div class="slider-items-products">
                                            <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                                                <div class="slider-items slider-width-col4 block-content owl-carousel owl-theme" style="opacity: 1; display: block;">
                                                    <div class="owl-wrapper-outer">
                                                        <div class="owl-wrapper" style="width: 940px; left: 0px; display: block; transition: all 500ms ease 0s; transform: translate3d(-188px, 0px, 0px);">
                                                            @foreach (var item in ViewBag.lstAnhSp)
                                                            {
                                                                <div class="owl-item" style="width: 94px;">
                                                                    <div class="more-views-items">
                                                                        <a href="#">
                                                                            <img id="product-zoom" src="@Url.Content("~/assets/images/products/"+item.TenFileAnh)">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><a class="flex-prev"><i class="fas fa-chevron-left"></i></a></div><div class="owl-next"><a class="flex-next"><i class="fas fa-chevron-right"></i></a></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--product-image-->


                                <div class="clear"></div>
                            </div>
                            <div class="product-info product-shop col-lg-8 col-sm-7 col-xs-12">
                                <h1 class="product-name">
                                    @Model.TenSP</h2>
                                    <p class="product-rating">Be the first to review this product.</p>
                                    <div class="price-box">
                                        <span class="price">
                                            Giá:  <span class="regular-Giá" style="color: #d70018; font-weight:700; font-size:30px">
                                                @{
                                                    //ĐỔI ĐỊNH DẠNG CỦA ĐƠN GIÁ BÁN
                                                    string formattedPrice = string.Format("{0:N0} ₫", @Model.DonGiaBan);
                                                }
                                                @formattedPrice
                                            </span>
                                        </span>
                                        <p class="availability">
                                            Tình trạng:
                                            @if (Model.SoLuong > 1)
                                            {
                                                <span class="in-stock"><i class="fas fa-check"></i> Còn hàng</span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-danger"><i class="fas fa-check"></i> Hết hàng</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="add-to-box">
                                        <div class="add-to-cart">

                                            <a asp-controller="Home" asp-action="CreateOrder" asp-route-MaSp="@Model.MaSp" onclick="handleOrder" class="button btn-cart">
                                                <span>Đặt hàng</span>
                                            </a>
                                        </div>
                                        <!-- Thêm giỏ hàng end  -->
                                        <div class="email-addto-box">


                                            <p class="email-friend"><a href="#" title="Chia sẻ sản phẩm"><i class="fas fa-share"></i></a></p>


                                            <ul class="add-to-links">
                                                <li>
                                                    <a class="link-wishlist" href="#" title="Thêm vào Wishlist"><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li>
                                                    <span class="separator">|</span>

                                                    <a class="link-compare" href="#" title="So sánh sản phẩm"><i class="fas fa-chart-bar"></i></a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                            </div>
                            <div class="">
                                <div class="product-details">
                                    <h4 class="box-title">Thông tin sản phẩm</h4>
                                    <div class="box-content">
                                        <div class="row">
                                            <p class="col-lg-12">
                                                @Model.MieuTa
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end product detail  -->
                            <div class="product-specs">
                                <h4 class="box-title">Thông số kỹ thuật</h4>
                                <ul class="specs list-group list-group-striped">

                                    <li class="spec-item list-group-item">
                                        <p>Chipset</p>
                                        <div>@Model.Cpu</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Dung lượng RAM</p>
                                        <div>@Model.Ram GB</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Bộ nhớ trong</p>
                                        <div>@Model.Rom GB</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Pin</p>
                                        <div>@Model.Dlpin</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- end product specs  -->
                            <div class="comment-form">
                                <h4 class="box-title">Bình luận</h4>
                                <div class="cmt-box">
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>N</span>
                                                </div>
                                                <p class="user-name">Nguyễn Văn A</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>1 giờ trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Sản phẩm này đắt quá.</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>T</span>
                                                </div>
                                                <p class="user-name">Trung</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>2 giờ trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Cho mình xin giá IP14 promax 256gb</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>N</span>
                                                </div>
                                                <p class="user-name">Nguyễn Hà</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>6 giờ trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Chi nhánh nào còn hàng ạ?</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>N</span>
                                                </div>
                                                <p class="user-name">Vân Anh</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>1 ngày trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Đẹp</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end comment  -->
                            <p class="titleList" cl>Danh sách sản phẩm liên quan</p>
                            <div class="row">
                                <ul class="products-grid first last odd col-12" id="default-products">
                                    @foreach (var item in ViewBag.spCungHang)
                                    {
                                        <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        @if (item.MaLoai == "LOAI01")
                                                        {
                                                            <a asp-controller="Home" asp-action="SmartphoneDetails"
                                                       class="product-image">
                                                                <img id="product-collection-image-446"
                                                             class="img-responsive"
                                                             src="@Url.Content("../assets/images/products/"+item.AnhDaiDien)" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#"
                                                       class="product-image">
                                                                <img id="product-collection-image-446"
                                                             class="img-responsive"
                                                             src="@Url.Content("../assets/images/products/"+item.AnhDaiDien)" />
                                                            </a>
                                                        }
                                                        
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li>
                                                                    <a rel="nofollow"
                                                                   href="#"
                                                                   data-fancybox-type="iframe"
                                                                   class="magik-btn-quickview link-quickview">Quick View</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                                   class="link-wishlist"
                                                                   title="Add to Wishlist">Wishlist</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                                   class="link-compare"
                                                                   title="Add to Compare">Compare</a>
                                                                </li>
                                                            </ul>
                                                            <!--add-to-links-->
                                                        </div>
                                                        <!--box-hover-->
                                                    </div>
                                                    <!--item-img-info-->
                                                </div>
                                                <!--item-img-->
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title">
                                                            @if (item.MaLoai == "LOAI01")
                                                            {
                                                                <a asp-action="SmartphoneDetails" asp-controller="home" asp-route-MaSp="@item.MaSp">@item.TenSP</a>
                                                            }
                                                            else
                                                            {
                                                                <span>@item.TenSP</span>
                                                            }
                                                           
                                                        </div>
                                                        <!--item-title-->
                                                        <div class="item-content">
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <div style="width: 0%"
                                                                     class="rating"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-Giá">
                                                                <div class="Giá-box">
                                                                    <span class="regular-Giá" style="color: #d70018; font-weight:700; font-size:16px">
                                                                        @{
                                                                            //ĐỔI ĐỊNH DẠNG CỦA ĐƠN GIÁ BÁN
                                                                            string formattedPrice1 = string.Format("{0:N0} ₫", item.DonGiaBan);
                                                                        }
                                                                        @formattedPrice1
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--item-Giá-->
                                                            <div class="action">
                                                                <a asp-controller="Home" asp-action="CreateOrder" asp-route-MaSp="@item.MaSp" onclick="handleOrder" class="button btn-cart">
                                                                    <span>Đặt hàng</span>
                                                                </a>
                                                            </div>
                                                            <!--action-->
                                                        </div>
                                                        <!--item-content-->
                                                    </div>
                                                    <!--info-inner-->
                                                </div>
                                                <!--item-info-->
                                            </div>
                                            <!--item-inner-->
                                        </li>
                                    }
                                </ul>
                            </div>

                            <!-- end related product  -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .item-img-info {
        width: 270px;
        height: 290px;
    }

    #product-collection-image-446 {
        width: 270px;
        height: 290px;
    }

    .home-block-inner {
        margin-bottom: 40px;
    }

    form {
        display: flex;
        justify-content: space-around;
    }

        form input {
            margin-right: 30px;
        }

    .item-img-info {
        margin: 0 auto;
    }

    .titleList {
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
    }
</style>