@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
    </div>
</div>
<div class="row">
    <!--Left-->
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <!-- col-6 -->
            <div class="col-md-4">
                <div class="widget-small primary coloured-icon">
                    <i class='icon bx bxs-user-account fa-3x'></i>
                    <div class="info">
                        <h4>Tổng khách hàng</h4>
                        <p><b>@ViewBag.countUser khách hàng</b></p>
                        <p class="info-tong">Tổng số khách hàng được quản lý.</p>
                    </div>
                </div>
            </div>
            <!-- col-6 -->
            <div class="col-md-4">
                <div class="widget-small info coloured-icon">
                    <i class='icon bx bxs-data fa-3x'></i>
                    <div class="info">
                        <h4>Tổng sản phẩm</h4>
                        <p><b>@ViewBag.countProduct sản phẩm</b></p>
                        <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
                    </div>
                </div>
            </div>
            <!-- col-6 -->
            <div class="col-md-4">
                <div class="widget-small warning coloured-icon">
                    <i class='icon bx bxs-shopping-bags fa-3x'></i>
                    <div class="info">
                        <h4>Tổng đơn hàng</h4>
                        <p><b>@ViewBag.countOrder đơn hàng</b></p>
                        <p class="info-tong">Tổng số hóa đơn bán hàng được quản lý.</p>
                    </div>
                </div>
            </div>
            <!-- col-6 -->
         
            <!-- col-12 -->
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Đơn hàng mới</h3>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID đơn hàng</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Ngày đặt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Orders)
                                {
                                    <tr>
                                        <td>@item.Order.MaDh</td>
                                        <td>@item.User.Username</td>
                                        <td>
                                            @item.Order.TongTien đ
                                        </td>
                                        <td>@item.Order.NgayDat</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- / div trống-->
                </div>
            </div>
            <!-- / col-12 -->
            <!-- col-12 -->
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Khách hàng mới</h3>
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên khách hàng</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày tạo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @foreach (var item in ViewBag.Users)
                                    {
                                    <tr>
                                        <td>@item.UserId</td>
                                        <td>@item.Username</td>
                                        <td>
                                                @item.Sdtuser
                                        </td>
                                        <td>@item.DiaChiUser</td>
                                        <td>@item.CreatedAt</td>
                                    </tr>
                                    }
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- / col-12 -->
        </div>
    </div>
    <!--END left-->

</div>


<div class="text-center" style="font-size: 13px">
    <p>
        <b>
            Copyright
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script> Phần mềm quản lý bán điện thoại đi động | Dev By Kien
        </b>
    </p>
</div>

